* {
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    background-image: url(imagenes/a-background-from-rpg-maker-mz-the-japan-collection-pixel-art-know-your-meme.gif);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }

  main {
    color: #ffffff;
    font-family: rubik,helvetica,arial,sans-serif;
    padding: 5rem;
  }


  article {
    background-color: rgba(0, 42, 66, 0.45);
    padding: 1.5rem;
    width: 100%;
    min-width: 420px;
    max-width: 785px;
    margin: 0 auto;
    border-radius: 8px;
  }

  p {
    font-size: 18px;
    text-indent: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }

  article a {
    text-decoration: none;   
    font-weight: bolder;
  }

  section {
    text-align: center;
    padding-top: 30px;
  }

  section a {
    width: 100%;
    background-color: #795cff;
    font-size: 18px;
    color: white;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
       
  }

  